//Colors
$main-bg-color: #f0f0f0;
$secondary-bg-color: #ffffff;
$nav-bg-color: #000000;
$nav-text-color: #ffffff;
$main-color: #02d086;
$main-text-color: #000000;
$secondary-text-color: #aaaaaa;
$main-btn-color: #02d086;
$secondary-btn-color: #aaaaaa;

//Fonts
$logo-font: "Righteous";
$main-font: "Comfortaa";
$header-font: "Secular One";

//Nav

//Spacing
