//Colors
$primary: #02d086;
$secondary: #aaaaaa;
$body-bg: #f0f0f0;
$light: #ffffff;
$main-text-color: #000000;
$secondary-text-color: #aaaaaa;

//Fonts
$logo-font: "Righteous";
$main-font: "Comfortaa";
$header-font: "Secular One";

$input-btn-font-family: $header-font;
$input-font-family: $main-font;

//Nav
$nav-bg-color: #000000;
$nav-text-color: #ffffff;
$navbar-light-color: #02d086;

//Spacing

//Elements
h1,
h2,
h3,
h4 {
  font-family: $header-font;
}

p,
a,
label,
input {
  font-family: $main-font;
}
