@import "main";

.profile-nav {
  max-width: $main-section-width;
}

.profile-post-section {
  max-width: $main-section-width;
}

.post-message {
  max-width: 750px;
}

.post-input-message {
  border: none;
  background-color: $body-bg;
  width: 90%;
}

.message-picture {
  width: 50px;
  height: 50px;
}

.messages {
  background-color: $body-bg;
  border: $border;
  max-width: 750px;
}

.message-nav-btn {
  width: 50%;
}

.contact-picture {
  width: 50px;
  height: 50px;
}
