@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: $main-font;
}

.bi {
  color: $nav-text-color;
}

nav {
  //   background-color: $nav-bg-color;
  //   color: $nav-link-color;
  width: 100%;
  margin: 0;
}

.navigation {
  width: 100%;
}

.nav-link {
  color: $primary;
  text-transform: uppercase;
  font-family: $header-font;
  font-size: 1.5rem;

  &:hover {
    color: $nav-text-color;
  }
}

.onpage {
  text-decoration: underline;
}

.logo {
  color: $primary;
  font-family: $logo-font;
  font-size: 3rem;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $nav-text-color;
  }
}

.search-field {
  width: 50%;
  max-width: 500px;
}
