@import "index";
@import "login";
@import "profile";

@media screen and (max-width: 576px) {
  .login-form {
    padding: 20px;
  }
}

@media screen and (max-width: 940px) {
  .about,
  .contacts {
    width: 100%;
    margin-bottom: 25px;
  }

  .profile-flex {
    flex-direction: column;
  }

  .post-message {
    flex-direction: column;
  }

  .post-input-message {
    margin-top: 25px;
  }
}
