@import "main";

.profile-nav {
  max-width: 954px;
  text-align: center;
}

.profile-header {
  max-width: 954px;
  text-align: center;
}

.profile-picture {
  width: 250px;
  height: 250px;
}

.profile-name {
  font-family: $header-font;
  font-size: 2.25rem;
}

.profile-username {
  font-family: $main-font;
  font-size: 1.5rem;
}

///Section

.profile-section {
  max-width: 954px;
}

.about,
.contacts {
  width: 467px;
  background-color: blue;
}

.about h2,
.contacts h2 {
  font-size: 1.5rem;
}

.bi {
  color: $secondary;
  display: inline-block;
  font-size: 25px;
}
