@import "main";

.profile-nav {
  max-width: $main-section-width;
}

.profile-header {
  max-width: $main-section-width;
  text-align: center;
}

.profile-picture {
  width: 250px;
  height: 250px;
}

.profile-name {
  font-family: $header-font;
  font-size: 2.25rem;
}

.profile-username {
  font-family: $main-font;
  font-size: 1.5rem;
}

///Section

.profile-section {
  max-width: $main-section-width;
}

.about,
.contacts {
  width: 467px;
  background-color: blue;
}

.about h2,
.contacts h2 {
  font-size: 1.5rem;
}

.bi {
  color: $secondary;
  display: inline-block;
  font-size: 25px;
}

.contacts-link {
  color: $main-text-color;
}

.contact-picture {
  width: 50px;
  height: 50px;
}

.contact-name {
  font-family: $header-font;
  text-decoration: none;
  font-size: 1rem;
}

.contact-username {
  font-size: 0.75rem;
}

.contact-btn {
  max-height: 50px;
}

.contact {
  border: $border;
}

.view-more {
  display: block;
}

.profile-post-section {
  max-width: $main-section-width;
}

.post-message {
  max-width: 750px;
}

.post-input-message {
  border: none;
  background-color: $body-bg;
  width: 90%;
}

.message-picture {
  width: 50px;
  height: 50px;
}

.messages {
  background-color: $body-bg;
  border: $border;
  max-width: 750px;
}

.message-nav-btn {
  width: 50%;
}
